/* App.css */
.container {
  display: flex;
  justify-content: space-between;
}

/* PlayBox.css */
.playBox {
  width: 45%;
}

.playBox button {
  display: block;
  margin-bottom: 10px;
}

/* Leaderboard.css */
.leaderboard {
  width: 45%;
}

.leaderboard ol {
  padding-left: 20px;
}